{% extends 'base.html.twig' %}
	{% block head %}

        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/helpers.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}">
    {% endblock %}
		{% block ul %}
		<ul>
            <li class="user-options-button li-clean"><a class="a-clean" href="/profile-settings"><img class="profile-image" src="/images/avatar/{% if app.user %}{{ app.user.profilepicture }}{% else %}imageParDefaut.png{% endif %}"/></a></li>
            <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/accueil">Accueil</a></li>
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/login">Se connecter</a></li>
		</ul>
       {% endblock %}
{% block title %}Edit Informations{% endblock %}

{% block body %}
    {{form(editForm)}}
    <button type="submit" class="btn">modifier</button>
{% endblock %}  
