{% extends 'base.html.twig' %}
	{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/helpers.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
            <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ asset('css/styleCam.css') }}">
    {% endblock %}

		{% block ul %}
		<ul>
            <li class="user-options-button li-clean"><a class="a-clean" href="/profile-settings"><img class="profile-image" src="{% if app.user %}/images/avatar/{{ app.user.profilepicture }}{% else %}/images/decoration/unidentified.png{% endif %}"/></a></li>
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/accueil">Accueil</a></li>
			{% if app.user %}
			    <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/logout">Se deconnecter de {{ app.user.userIdentifier }}</a></li>
			{% if app.user.isadmin %}
			    <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/admin">Administration du site</a></li>
			{% endif %}
			{% else %}
				<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/login">Se connecter</a></li>
            	<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/register">S'enregistrer</a></li>
			{% endif %}
		</ul>
       {% endblock %}
{% block body %}
    <div class="display-cover">
    <video autoplay></video>
    <canvas class="d-none"></canvas>

    <div class="video-options">
        <select name="" id="" class="custom-select">
            <option value="">Select camera</option>
        </select>
    </div>

    <img id="screenshot-image" class="screenshot-image d-none" alt="">

    <div class="controls">
        <button class="btn btn-danger play" title="Play"><i data-feather="play-circle"></i></button>
        <button class="btn btn-info pause d-none" title="Pause"><i data-feather="pause"></i></button>
        <button class="btn btn-outline-success screenshot d-none" title="ScreenShot"><i data-feather="image"></i></button>
    </div>
</div>
<img src="{{ asset('images/decoration/validation.png') }}" id="save" class="display-no validation-button-image" onclick="save()"></button>
   
   <!--A changer-->
    <div id="latitude" class="display-no"></div>
    <div id="longitude" class="display-no"></div>
    <div id="plant-id" class="display-no">1</div>
    <div id="show-plant-info-btn" class="fleche margin-vert-25 fa-solid fa-arrow-left top-fix" onclick="afficherPlante()"></div>
    <!--fiche plante info-->
        <div id="plant-info" class="hidden-left transition-movement top-fix flex-row w-100 color-sec section-demonstration h-100">
			<div class="w-40 div-demonstration">
				<img class="w-100" src="/images/plant_images/{{plant.image}}">
			</div>
			<div class="w-60 div-demonstration">
				<h3 id="plant-title" class="titre-demonstration w-60 margin-lat-10 margin-top-15">{{plant.name}}</h3>
				<div class="paragraphe w-80 margin-lat-10 ">{{plant.FullRawDescriptionBefore|raw}}</div>
			</div>
            <div id="hide-plant-info-btn" class="fleche display-no margin-vert-25 fa-solid fa-arrow-left right-0" onclick="cacherPlante()"></div>
	    </div>
    <!--Fiche reussite-->
    <div id="fiche-reussite" class="hidden-top transition-movement padding-10 top absolute flex-col w-100 color-sec section-demonstration">


	</div>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://unpkg.com/feather-icons"></script>
<script src="{{ asset('script/camera.js') }}"></script>
{% endblock %}