{% extends 'base.html.twig' %}
	{% block head %}

        <link rel="stylesheet" type="text/css" href="{{ asset('css/bootstrap.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/helpers.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ asset('css/form.css') }}">
    {% endblock %}
		{% block ul %}
		<ul>
			
			<li class="user-options-button li-clean"><a class="a-clean" href="profile-settings"><img class="profile-image" src="{% if app.user %}/images/avatar/{{ app.user.profilepicture }}{% else %}/images/decoration/unidentified.png{% endif %}"/></a>{% if app.user %}Level - {{app.user.level}}, Score - {{app.user.xp}}{% endif %}</li>
			
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/accueil">Accueil</a></li>

			{% if app.user %}
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/logout">Se deconnecter de {{ app.user.userIdentifier }}</a></li>
			
			{% if app.user.isadmin %}
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/admin">Administration du site</a></li>

			{% endif %}
			{% else %}
				<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/login">Se connecter</a></li>
            	<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/register">S'enregistrer</a></li>

			{% endif %}
		</ul>
       {% endblock %}
{% block title %}Edit Informations{% endblock %}

{% block body %}
 <div class="container">
   <div id="signup">
      <div class="signup-screen">
         <div class="space-bot text-center">
            <h1>Modifier identifiants</h1>
           <div class="divider"></div>
        </div>
    {{ form_start(editForm) }}


        <div class="input-field col s6">
                {{ form_row(editForm.name) }}
        </div>
        <div class="input-field col s6">
                {{ form_row(editForm.password, {
            label: 'Password'
        }) }}
        </div>
        <div class="input-field col s6">
                {{ form_row(editForm.profile_picture, {
            label: 'Photo de profil'
        }) }}
        </div>
        <button type="submit" class="btn">Register</button>
                      </div>
    {{ form_end(editForm) }}
               </div>
        </div>
    </div>
{% endblock %}  
