{% extends 'base.html.twig' %}
	{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/helpers.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
    {% endblock %}

		{% block ul %}
		<ul>
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/index">Accueil</a></li>
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/login">Se connecter</a></li>
            <li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/register">S'enregistrer</a></li>
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/logout">Se deconnecter</a></li>
		</ul>
       {% endblock %}
{% block body %}


	<div class="main" id="le-main">
		<div class="navbar flex-row w-100 h-0 color-sec-lighter fix transition-rapide-vert overflow-hidden" id="navbar">
			<div class="element-navbar transition-rapide-horiz overflow-hidden" id="navbar-titre">	
					PLANTSHUB
			</div>
		</div>
		<div class="flex-row w-100 accueil">
			<div class="contain-titre texte-centre">
				<h1>											
					PlantsHub
				</h1>
				<p class="presentation">Decouvre le jeu du jour.</p>
				<button class="bouton">JOUER</button>
			</div>
		</div>
		<div class="texte-centre flex-col w-100 color-prim" id="pointdaffichagenavbar">
			<h2 class="margin-lat-25 margin-top-10 w-50 rw-80 rmargin-lat-10">
				Les plantes à la une
			</h2>
			<p class="margin-lat-25 margin-vert-0 w-50 rw-80 rmargin-lat-10 light-gray">
				description
			</p>
			<ul class="flex-row affichage-icons w-50 margin-lat-25 margin-top-5 margin-bot-10 li-clean">
				<li class="margin-lat-10"><div class="cadre-icon"><span class="fa-regular fa-gem icon color-icon-1"></span></div></li>
				<li class="margin-lat-10"><div class="cadre-icon"><span class="fa-regular fa-heart icon color-icon-2"></span></div></li>
				<li class="margin-lat-10"><div class="cadre-icon"><span class="fa-solid fa-code color-icon-3"></span></div></li>
			</ul>
		</div>

		<div class="flex-row w-100 color-sec section-demonstration">
			<div class="w-40 div-demonstration">
				<img class="w-100" src="/images/plant_images/{{plants[0].image}}">
			</div>
			<div class="w-60 div-demonstration">
				<h3 class="titre-demonstration w-60 margin-lat-10 margin-top-15">MAGNA PRIMIS LOBORTIS SED ULLAMCORPER</h3>
				<p class="paragraphe w-80 margin-lat-10 ">Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
			</div>
		</div>
		<div class="flex-row-rev w-100 color-sec-slightly-darker section-demonstration">
			<div class="w-40 div-demonstration">
				<img class="w-100" src="/images/plant_images/{{plants[1].image}}">
			</div>
			<div class="w-60 div-demonstration">
				<h3 class="titre-demonstration w-60 margin-lat-10 margin-top-15">TORTOR DOLORE FEUGIAT ELEMENTUM MAGNA</h3>
				<p class="paragraphe w-80 margin-lat-10">Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
			</div>

		</div>
		<div class="flex-row w-100 color-sec-darker section-demonstration">
			<div class="w-40 div-demonstration">
				<img class="w-100" src="/images/plant_images/{{plants[2].image}}">
			</div>
			<div class="w-60 div-demonstration">
				<h3 class="titre-demonstration w-60 margin-lat-10 margin-top-15">AUGUE ELEIFEND ALIQUET SED CONDIMENTUM</h3>
				<p class="paragraphe w-80 margin-lat-10">Aliquam ut ex ut augue consectetur interdum. Donec hendrerit imperdiet. Mauris eleifend fringilla nullam aenean mi ligula.</p>
			</div>
		</div>
		<div class="flex-col w-100 color-tert">
			<h2 class="texte-centre margin-lat-25 margin-top-10 w-50 rw-80 rmargin-lat-10">
				Inserer Bullshit pedagogique
			</h2>
			<p class="texte-centre light-gray margin-lat-25 margin-vert-0 w-50 rw-80 rmargin-lat-10">
				Aliquam ut ex ut augue consectetur interdum. Donec amet imperdiet eleifend fringilla tincidunt. Nullam dui leo Aenean mi ligula, rhoncus ullamcorper.
			</p>
			<ul class="table overflow-hidden flex-wrap w-80 h-80 margin-lat-10 margin-vert-10">
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-paper-plane"></span><h3>ARCU ACCUMSAN</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-laptop"></span><h3>AC AUGUE EGET</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-code"></span><h3>MUS SCELERISQUE</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-headphones-alt"></span><h3>MAURIS IMPERDIET</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-heart"></span><h3>AENEAN PRIMIS</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-flag"></span><h3>TORTOR UT</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
			</ul>
		</div>
		<div class="conclusion  w-100">
			<div class="contenu-conclusion flex-row w-100">
				<div class="texte-conclusion flex-col w-65">
					<h3 class=" w-80 margin-lat-10 margin-vert-0">ARCUE UT VEL COMMODO</h3>
					<p class="paragraphe w-80 margin-lat-10">Aliquam ut ex ut augue consectetur interdum endrerit imperdiet amet eleifend fringilla.</p>
				</div>
				<div class="flex-col w-35 rw-100">
					<button class="bouton rmargin-lat-10 margin-lat-35">ACTIVATE</button>
					<button class="bouton  margin-top-5  margin-lat-35 rmargin-lat-10 bouton-learn-more">LEARN MORE</button>
				</div>
			</div>
		</div>
		<footer class="flex-col w-100 texte-centre">
			<div class="liens-externes w-30 margin-lat-35 margin-top-10">
				<span class="fa-brands fa-twitter"></span>
				<span class="margin-lat-5 fa-brands fa-facebook-f"></span>
				<span class="fa-brands fa-instagram"></span>
				<span class="margin-lat-5 fa-brands fa-dribbble"></span>
				<span class="fa-solid fa-envelope"></span>
			</div>
			<div class="credits margin-bot-10 margin-top-5">
				<p>© UNTITLED | DESIGN: HTML5 UP | DEMO IMAGES: UNSPLASH</p>
			</div>
		</footer>
	</div>

{% endblock %}