{% extends 'base.html.twig' %}
	{% block head %}
		<link rel="stylesheet" type="text/css" href="{{ asset('css/normalize.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/helpers.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">

    {% endblock %}

		{% block ul %}
		<ul>
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/accueil">Accueil</a></li>

			{% if app.user %}
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/logout">Se deconnecter de {{ app.user.userIdentifier }}</a></li>
			<li class="user-options-button li-clean"><a class="liens-menu-lateral a-clean" href="/profile-settings"><img class="profile-image" src="/images/avatar/{{ app.user.profilepicture }}"/></a></li>

			{% if app.user.isadmin %}
			<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/admin">Administration du site</a></li>

			{% endif %}
			{% else %}
				<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/login">Se connecter</a></li>
            	<li class="options-menu-lateral li-clean"><a class="liens-menu-lateral a-clean" href="/register">S'enregistrer</a></li>

			{% endif %}
		</ul>
       {% endblock %}
{% block body %}


	<div class="main" id="le-main">
		<div class="navbar flex-row w-100 h-0 color-sec-lighter fix transition-rapide-vert overflow-hidden" id="navbar">
			<div class="element-navbar transition-rapide-horiz overflow-hidden" id="navbar-titre">	
					PLANTSHUB
			</div>
		</div>
		<div class="flex-row w-100 accueil">
			<div class="contain-titre texte-centre">
				<h1 class="titre">											
					PlantsHub
				</h1>
				{% if app.user %}
					<p class="presentation">			Bonjour {{app.user.name}} !<br/>Decouvre le jeu du jour.</p>
					<button class="bouton" onclick="window.location.href = '/play';">JOUER</button>
				{% endif %}
			</div>
		</div>
		<div class="texte-centre flex-col w-100 color-prim" id="pointdaffichagenavbar">
			<h2 class="margin-lat-25 margin-top-10 w-50 rw-80 rmargin-lat-10">
				Les plantes à la une
			</h2>
			<p class="margin-lat-25 margin-vert-0 w-50 rw-80 rmargin-lat-10 light-gray margin-bot-10">
				description
			</p>
		</div>
		{% if plants|length >=3 %}
		<div class="flex-row w-100 color-sec section-demonstration">
			<div class="w-40 div-demonstration">
				<img class="w-100" src="/images/plant_images/{{plants[0].image}}">
			</div>
			<div class="w-60 div-demonstration">
				<h3 class="titre-demonstration w-60 margin-lat-10 margin-top-15">{{plants[0].name}}</h3>
				<div class="paragraphe w-80 margin-lat-10 ">{{plants[0].descriptionBefore|raw}}</div>
			</div>
		</div>
		<div class="flex-row-rev w-100 color-sec-slightly-darker section-demonstration">
			<div class="w-40 div-demonstration">
				<img class="w-100" src="/images/plant_images/{{plants[1].image}}">
			</div>
			<div class="w-60 div-demonstration">
				<h3 class="titre-demonstration w-60 margin-lat-10 margin-top-15">{{plants[1].name}}</h3>
				<div class="paragraphe w-80 margin-lat-10">{{plants[1].descriptionBefore|raw}}</div>
			</div>

		</div>
		<div class="flex-row w-100 color-sec-darker section-demonstration">
			<div class="w-40 div-demonstration">
				<img class="w-100" src="/images/plant_images/{{plants[2].image}}">
			</div>
			<div class="w-60 div-demonstration">
				<h3 class="titre-demonstration w-60 margin-lat-10 margin-top-15">{{plants[2].name}}</h3>
				<div class="paragraphe w-80 margin-lat-10">{{plants[2].descriptionBefore|raw}}</div>
			</div>
		</div>
		{% endif %}
		<div class="flex-col w-100 color-tert">
			<h2 class="texte-centre margin-lat-25 margin-top-10 w-50 rw-80 rmargin-lat-10">
				Inserer Bullshit pedagogique
			</h2>
			<p class="texte-centre light-gray margin-lat-25 margin-vert-0 w-50 rw-80 rmargin-lat-10">
				Les plantes ont été jusqu'au milieu du XX siècle l'un des trois grands groupes dans lesquels les êtres vivants étaient traditionnellement répartis, les deux autres groupes étant celui des animaux et celui des Fungi plus connus sous le nom de champignons.
			</p>
			<ul class="table overflow-hidden flex-wrap w-80 h-80 margin-lat-10 margin-vert-10">
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-paper-plane"></span><h3>ARCU ACCUMSAN</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-laptop"></span><h3>AC AUGUE EGET</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-code"></span><h3>MUS SCELERISQUE</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-headphones-alt"></span><h3>MAURIS IMPERDIET</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-heart"></span><h3>AENEAN PRIMIS</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
				<li class="element-table w-30 rw-100"><span class="icon-table fa-solid fa-flag"></span><h3>TORTOR UT</h3><p class="light-gray">Augue consectetur sed interdum imperdiet et ipsum. Mauris lorem tincidunt nullam amet leo Aenean ligula consequat consequat.</p></li>
			</ul>
		</div>
		{% if app.user %}
		<div class="conclusion  w-100">
			<div class="contenu-conclusion flex-row w-100">
				<div class="texte-conclusion flex-col w-65">
					<h3 class=" w-80 margin-lat-10 margin-vert-0">Tu as découvert {{app.user.discoveredCount()}} plantes</h3>
					<p class="paragraphe w-80 margin-lat-10">Lance une partie pour augmenter ton score.</p>
				</div>
				<div class="flex-col w-35 rw-100">
					<button class="bouton rmargin-lat-10 margin-lat-35" onclick="window.location.href = '/play';">Jouer</button>
					<button class="bouton  margin-top-5  margin-lat-35 rmargin-lat-10 bouton-learn-more onclick="window.location.href = '/stats';"">Voir mes statistiques</button>
				</div>
			</div>
		</div>
		{% endif %}
		<footer class="flex-col w-100 texte-centre">
			<div class="credits margin-bot-5 margin-top-10">
				<p>CE CHEF D'OEUVRE VOUS A ÉTÉ APPORTÉ PAR YOHANN ET GILLIAN MAITRES PHP</p>
			</div>
		</footer>
	</div>

{% endblock %}