{{ form_start(form) }}
<div class="row">
    <div class="col-md-4">{{form_row(form.name)}}</div>
    <div class="col-md-4">{{form_row(form.image)}}</div>
</div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}